<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029251987376-1u7bnbg9hhl3jmivakptlotb0pntheik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029251987376-1u7bnbg9hhl3jmivakptlotb0pntheik</string>
	<key>API_KEY</key>
	<string>AIzaSyB-sexNZtKgO4_vIspqhdmRjfKzq5eWm08</string>
	<key>GCM_SENDER_ID</key>
	<string>1029251987376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juansouza.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-d0f17</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-d0f17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029251987376:ios:357c676d2ae0ef7cd74875</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-d0f17.firebaseio.com</string>
</dict>
</plist>